<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipment Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Equipment Detector</h1>
    <video id="webcam" autoplay style="display: none;"></video>
    <canvas id="mycanvas"></canvas>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
